/* タイピングゲーム全体（font-sizeはボタンには反映されない！） */
body {
  font-size: 6em;
  text-align: center;
}

/* タイマー部分 */
.count {
  margin: 0;
  font-weight: bold;
  color: #888;
}

/* テキスト表示部分 */
.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: gray;
  font-weight: bold;
  color: #fff;
}

/* 正しくタイプされたテキスト部分 */
.typed {
  color: lightgreen;
}

/* ミスタイプされた場合 */
.mistyped {
  background-color: red;
}